/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    color: lightslategray;
  }
  
  @media(max-width: 768px) {
    #header img {
      margin: 0 auto;
    }
  }
  
  #navigation .navbar {
    border-bottom: 1px solid rgba(128, 0, 128, 0.082);
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  #navigation .navbar a {
    color: purple;
  }
  #navigation .navbar a:hover {
    color: #dedede;
  }
  
  #header {
    background: url('assets/img/background.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: purple;
    display: flex;
    align-items: center;
  }
  #header .h1-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
  }
  #statistic {
    padding: 5rem 0;
  }
  #statistic .card-text{
    font-weight: bold;
    font-size: 50px;
    color: tomato;
  }
  #statistic .card-infected {
    border-bottom-color: blue;
    border-bottom-width: 10px;
  }
  #statistic .card-recovered {
    border-bottom-color: lightgreen;
    border-bottom-width: 10px;
  }
  #statistic .card-deaths {
    border-bottom-color: lightsalmon;
    border-bottom-width: 10px;
  }

  #footer {
    padding: 2rem;
    background-color: #aaaaaa;
    color: #eeeeee;
  }

  #footer a {
    color: purple;
  }
  #footer a:hover {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  #footer .fas {
    padding: 5px;
  }
  
  
  #statistic {
    padding: 5rem 0;
  }
  #statistic .card-text {
    font-weight: bold;
    font-size: 50px;
    color: tomato;
  }
  #statistic .card-infected {
    border-bottom-color: blue;
    border-bottom-width: 10px;
  }
  #statistic .card-recovered {
    border-bottom-color: lightgreen;
    border-bottom-width: 10px;
  }
  #statistic .card-deaths {
    border-bottom-color: lightsalmon;
    border-bottom-width: 10px;
  }
  
  
  #footer {
    padding: 2rem 0;
    background-color: #aaaaaa;
    color: #eeeeee;
  }
  
  #footer a {
    color: purple;
  }
  #footer a:hover {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  #footer .fas {
    padding: 5px;
  }